.EightBall {
  box-shadow: 0 0 18px 4px rgb(250, 251, 252);
  margin: 50px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.Button {
  background-color: #363b44;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Button {
  transition-duration: 0.4s;
}

.Button:hover {
  box-shadow: 0 0 8px 2px rgb(250, 251, 252);
}



